import React from 'react';
import type { ReactNode } from 'react';

type {{pascalCase name}}Props = { children: ReactNode };

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
   return <div></div>;
};